@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

:root {
  --theme-bgColor: SLATEGRAY;
  --theme-accentColor: WHITESMOKE;
  --theme-surfaceColor: pink;
  --theme-fontFamily: "Bebas Neue", cursive;
  --theme-borderRadius: 5px;
}

body {
  background-color: var(--theme-bgColor);
  font-family: var(--theme-fontFamily);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
